<template>
  <div v-if="loaded" class="bg-dark-900 min-h-screen">
    <Header />
    <NuxtPage />
    <div id="modal" />
  </div>
</template>

<script setup>
import { Client, Account, Teams, Databases, Functions } from 'appwrite'

const client = new Client();
const account = new Account(client);
const teams = new Teams(client);
const functions = new Functions(client);
const databases = new Databases(client, '62f76f33db1de0fd1f46');

const router = useRouter()
const route = useRoute()

const userData = ref(null)
const userPrefs = ref(null)
const userTeams = ref(null)
const teamData = ref(null)
const loaded = ref(false)

client
    .setEndpoint('https://appwrite.xeovalyte.com/v1')
    .setProject('62f0f5758fa678b3e1c9')
;


onMounted(async () => {
  getAccount()
})

const getAccount = async () => {
  try {
    userData.value = await account.get();
    userPrefs.value = await account.getPrefs();
    userTeams.value = await teams.list()

    if (userTeams.value.total > 0) {
      databases.getDocument('teams', userTeams.value.teams[0].$id).then((res) => {
        teamData.value = res
      }).catch((e) => {
        console.log(e)
      })
    }

    const session = await account.getSession('current');

    const site = await fetch("https://discord.com/api/oauth2/@me", {
        method: 'GET',
        headers: {'Authorization': `Bearer ${session.providerAccessToken}`}
    });

    const discord = await site.json();

    if (discord.user.id !== userPrefs.value.discordId) {
      userPrefs.value.discordId = discord.user.id
      await account.updatePrefs(userPrefs.value)
    }
  } catch {
    userData.value = null
  }
  loaded.value = true
  if (route.fullPath.startsWith('/dashboard') && !userData.value) router.push('/')
}

provide('appwrite', { account, teams, databases, functions, getAccount, userData, teamData, userPrefs, userTeams });

</script>