<template>
    <div :class="[route.fullPath === '/' ? 'fixed' : 'sticky top-0', scrollPosition < 100 && route.fullPath === '/' ? 'bg-opacity-0 absolute' : '']" class="bg-dark-800 h-12 hidden md:flex justify-center z-50 w-full">
        <div class="max-w-7xl w-full grid font-bold text-primary-500 grid-cols-5 mx-5">
            <div class="flex">
                <router-link to="/" class="text-3xl my-auto">Polarcraft</router-link>
            </div>
            <div class="flex col-span-3 gap-x-1 text-xl my-auto justify-center">
                <router-link to="/docs" class="nav-link">Docs</router-link>
                <router-link to="/store" class="nav-link">Store</router-link>
                <router-link to="/donate" class="nav-link">Donate</router-link>
                <router-link to="/dynmap" class="nav-link">Dynmap</router-link>
            </div>
            <div class="flex my-auto text-xl justify-end">
                <button v-if="!userData" @click="login" to="/login" class="nav-link px-3 py-1">Login</button>
                <router-link v-else to="/dashboard" class="nav-link px-3 py-1">Dashboard</router-link>
            </div>
        </div>
    </div>
    <div class="md:hidden sticky top-0 z-50 w-full">
        <div class="flex font-bold text-primary-500 px-3 h-12 w-full bg-dark-800 sticky border-b-2 border-dark-700 z-50">
            <router-link to="/" class="text-3xl my-auto">Polarcraft</router-link>
            <div @click="isMobileNavOpen = !isMobileNavOpen" class="ml-auto my-auto w-12 flex justify-center align-middle">
                <img v-if="!isMobileNavOpen" src="../assets/icons/burger-icon.svg" alt="burger menu" class="h-full w-full nav-btn cursor-pointer">
                <img v-else src="../assets/icons/close-icon.svg" alt="burger menu" class="w-8 nav-btn cursor-pointer">
            </div>
        </div>
        <div @click="isMobileNavOpen = !isMobileNavOpen" :class="isMobileNavOpen ? '' : '-translate-y-full'" class="w-full bg-dark-800 absolute py-5 px-4 z-40 transition-all ease-in-out duration-200 flex flex-col justify-center">
            <div class="flex flex-col text-primary-500 text-xl font-bold">
                <router-link to="/docs" class="nav-link py-2">Docs</router-link>
                <router-link to="/store" class="nav-link py-2">Store</router-link>
                <router-link to="/donate" class="nav-link py-2">Donate</router-link>
                <router-link to="/dynmap" class="nav-link py-2">Dynmap</router-link>
            </div>
            <div class="flex flex-col gap-y-1 text-primary-500 text-xl font-bold mt-3 pt-1 border-t-2 border-dark-700">
                <button v-if="!userData" @click="login" class="nav-link py-3">Login</button>
                <router-link v-else to="/dashboard" class="nav-link py-3">Dashboard</router-link>
            </div>
        </div>
    </div>
</template>

<script setup>
const { account, userData } = inject('appwrite')

const isMobileNavOpen = ref(false)
const scrollPosition = ref(null)
const route = ref(useRoute())

onMounted(() => {
    scrollPosition.value = window.scrollY
    window.addEventListener('scroll', () => {
        scrollPosition.value = window.scrollY
    } )
})


const login = async () => {
   const res = await account.createOAuth2Session('discord', 'http://test.xeovalyte.com:3000', 'http://test.xeovalyte.com:3000', ['guilds']);
   console.log('account', res)
}

</script>

<style>
.nav-btn {
    filter: invert(68%) sepia(76%) saturate(323%) hue-rotate(163deg) brightness(99%) contrast(87%);
}
</style>