<template>
    <div class="w-40 shadow-xl text-primary-500 bg-dark-700 flex items-center flex-col font-bold text-xl p-2 gap-1">
        <router-link to="/dashboard/" class="sidebar-link">Overview</router-link>
        <router-link to="/dashboard/team" class="sidebar-link">Team</router-link>
        <router-link to="/dashboard/playerlist" class="sidebar-link">Playerlist</router-link>
        <router-link to="/dashboard/teamlist" class="sidebar-link">Teamlist</router-link>
        <router-link to="/dashboard/events" class="sidebar-link">Events</router-link>
        <router-link to="/dashboard/account" class="sidebar-link">Account</router-link>
    </div>
</template>