@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-link {
        @apply hover:text-primary-300 origin-center cursor-pointer transition-all hover:bg-dark-600 px-2 rounded
    }

    .sidebar-link {
        @apply hover:text-primary-300 origin-center cursor-pointer transition-all hover:bg-dark-600 w-full pl-3 py-2 rounded
    }

    .btn {
        @apply bg-dark-500 px-2 py-1 hover:bg-dark-100 transition-all rounded font-bold text-lg hover:cursor-pointer
    }
}