<template>
    <div>
        <div class="flex items-center justify-center bg-cover py-96 bg-fixed" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/thumbnail.png')">
			<div class="mx-2 text-center">
				<h1 class="text-primary-500 font-extrabold text-7xl md:text-9xl underline underline-offset-8 transition-all duration-1000 ease-out" :class="{ 'translate-x-full opacity-0' : !loaded}">Polarcraft</h1>
				<h2 class="text-primary-500 font-extrabold text-2xl md:text-4xl mt-4 transition-all duration-1000 ease-out"  :class="{ '-translate-x-full opacity-0' : !loaded}">play.polarcraft.xeovalyte.com</h2>
			</div>
		</div>
        Boederijdieren
    </div>
</template>

<script setup>
const loaded = ref(false)

onMounted(() => {
	setTimeout(() => {
		loaded.value = true
	}, 300)
})

</script>