<template>
    <Teleport to="#modal">
        <div @click.self="emit('close')" class="fixed top-0 left-0 w-screen h-screen bg-black bg-opacity-50 flex justify-center items-center">
            <div class="bg-dark-300 px-5 py-5 max-w-xl w-full rounded-xl text-primary-500">
                <h1 class="text-4xl font-bold text-center">Create Team</h1>
                <form @submit.prevent="createTeam" class="mx-10 mt-8 flex flex-col gap-y-5">
                    <div>
                        <label class="font-bold text-xl">Team name</label><br>
                        <input type="text" v-model="teamName" required=true placeholder="TheBestTeamEver" class="bg-dark-200 rounded px-2 py-1 text-primary-200 w-full placeholder-primary-600">
                    </div>

                    <div>
                        <label class="font-bold text-xl">Team color</label><br>
                        <div class="flex align-center gap-2">
                            <input type="color" v-model="teamColor" class="w-16 h-7 my-auto text-primary-200 placeholder-primary-600">
                            <input type="text" required=true v-model="teamColor" class="bg-dark-200 rounded px-2 py-1 text-primary-200 w-full placeholder-primary-600">
                        </div>
                    </div>
                    <div class="ml-auto">
                        <button @click="emit('close')" class="underline mr-3">Cancel</button>
                        <input type="submit" class="btn" value="Create team">
                    </div>
                </form>
            </div>
        </div>
    </Teleport>
</template>

<script setup>
import { useToast } from 'vue-toastification'

const toast = useToast()

const emit = defineEmits(['close'])

const { functions, userData, account } = inject('appwrite');

const teamName = ref('')
const teamColor = ref('#00000')

const createTeam = async () => {
    emit('close')
    let jwt;
    try {
        jwt = await account.createJWT();
    } catch(e) {
        toast.error(`Error creating team ${teamName.value}`)
        return console.log(e)
    }
    

    functions.createExecution('createteam', JSON.stringify({ teamName: teamName.value, teamColor: teamColor.value, userData: userData.value, jwt: jwt.jwt }))
        .then(() => {
            toast.success(`Created team ${teamName.value}`)
            })
        .catch((e) => {
            console.log(e)
            toast.error(`Error creating team ${teamName.value}`)
        })
}
</script>