<template>
  <div class="flex w-full h-screen fixed">
    <Sidebar />
    <div @click="logout" class="text-primary-500 overflow-y-auto w-full">
        account
    </div>
  </div>
</template>

<script setup>
const { account, getAccount } = inject('appwrite')

const logout = () => {
  account.deleteSession('current').then(function (response) {
      getAccount()
      console.log(response); // Success
  }, function (error) {
      console.log(error); // Failure
  });
}
</script>