<template>
  <div v-if="userPrefs" class="flex w-full h-screen fixed">
    <Sidebar />
    <div class="text-primary-500 overflow-y-auto w-full">
      <h1 class="text-5xl text-center font-extrabold mt-5 mb-2 underline">Welcome {{ userData.name }}</h1>
      <h2 class="text-center text-2xl font-bold">Created at {{ dayjs.unix(userData.$createdAt).format('DD MMM YYYY HH:mm:ss') }}</h2>
    </div>
  </div>
</template>

<script setup>
import dayjs from 'dayjs'

const { userPrefs, userData } = inject('appwrite')
</script>