<template>
  <div class="flex w-full h-screen fixed">
    <Sidebar />
    <div class="text-primary-500 overflow-y-auto w-full">
        <div v-if="!teamData" class="flex justify-center flex-col">
          <h1 class="text-4xl text-center font-bold mt-20 mb-5">You are not in a team!</h1>
          <button @click="isCreateAccountOpen = true" class="mx-auto text-3xl bg-dark-700 hover:bg-dark-600 rounded hover:rounded-xl px-5 py-2 transition-all duration-200">Create Team</button>
        </div>
        <div v-else>
          <h1 class="text-4xl text-center font-bold mt-20 mb-5">Team</h1>
          <div class="max-w-xl w-full mx-auto bg-dark-700 p-10 rounded-xl">
            <p class="text-xl mb-2">Current team: <b>{{ teamData.teamName }}</b></p>
            <p class="text-xl mb-2 flex items-center gap-2">Team color: <input type="color" disabled="true" v-model="teamData.teamColor" class="w-16 h-7 my-auto text-primary-200 placeholder-primary-600"><b>{{ teamData.teamColor }}</b></p>
            <div>
              <h1 class="text-2xl text-center font-bold mt-3 mb-5">Members</h1>
              <div class="flex flex-col gap-5">
                <div v-for="member in teamMembers" :key="member.$id" class="bg-dark-600 p-3 rounded text-xl font-bold">{{ member.name }}</div>
                <div class="bg-dark-600 p-3 rounded text-xl font-bold text-center border-dashed border-2 border-dark-300 hover:cursor-pointer hover:bg-dark-500">+ Invite Person</div>
              </div>
            </div>
          </div>
          
        </div>
    </div>
    <CreateTeam @close="isCreateAccountOpen = false" v-if="isCreateAccountOpen" />
  </div>
</template>

<script setup>
import CreateTeam from '../../components/modals/CreateTeam.vue';
const { teamData, functions } = inject('appwrite')

const isCreateAccountOpen = ref(false)
const teamMembers = ref([])

onMounted(async () => {
  const response = await $fetch('/api/getteammembers', { method: 'post', body: { members: teamData.value.members } })
  teamMembers.value = response.members
})
</script>