<template>
  <div class="flex w-full h-screen fixed">
    <Sidebar />
    <div class="text-primary-500 overflow-y-auto w-full">
        <h1></h1>
    </div>
  </div>
</template>

<script setup>

</script>